{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/rest1-raw.fif",
    "calibration": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/sss_cal.dat",
    "crosstalk": null,
    "headshape": null,
    "channels": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-bad-channels/channels.tsv",
    "destination": null,
    "param_origin": "auto",
    "param_return_scores": true,
    "param_limit": 7,
    "param_duration": 5,
    "param_min_count": 5,
    "param_int_order": 8,
    "param_ext_order": 3,
    "param_coord_frame": "head",
    "param_regularize": "in",
    "param_ignore_ref": false,
    "param_bad_condition": "error",
    "param_mag_scale": 100.0,
    "param_skip_by_annotation": ["edge", "bad_acq_skip"],
    "param_h_freq": 40.0,
    "param_extended_proj": []
}
