{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-maxfilter/data/rest1-raw.fif",
    "calibration": null,
    "cross_talk_correction": null,
    "head_position": null,
    "param_limit": 7,
    "param_duration": 5,
    "param_min_count": 5,
    "param_int_order": 8,
    "param_ext_order": 3,
    "param_coord_frame": "head",
    "param_regularize": "in",
    "param_ignore_ref": false,
    "param_bad_condition": "error",
    "param_mag_scale": 100.0,
    "param_skip_by_annotation": ["edge", "bad_acq_skip"],
    "param_h_freq": 40.0
}